*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #BDFFF3;

}
.Home{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.c-player{
    display: block;
    background-color: #EFEFBB;
    padding: 50px;
    border-radius: 15px;
    box-shadow: inset;
}
.c-player > h4{
    color: gray;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
}
.c-player > p {
    color: #2c3e50;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    margin: 50px auto;
}
.c-player--details .details.img {
    position: relative;
    width: fit-content;
    margin: 0px auto;
}
.c-player--details .details.img img {
    display: block;
    margin: 0px auto;
    width: 100%;
    max-width: 250px;
    border-radius: 10%;
    box-shadow: 6px 6px 12px;
}
.c-player--details .details-title {
    color: #16222A;
    font-size: 20px;
    text-align: center;
}
.c-player--details .details-artist {
    color: #16222A;
    font-size: 15px;
    text-align: center;
    margin-bottom: 20px;
}
.c-player--controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.c-player--controls .play-btn {
    display: flex;
    margin: 0px 30px;
    padding: 20px;
    font-size: 10px;
    border-radius: 50%;
    background-color: #928DAB;
}
.c-player--controls .skip-btn {
    display: flex;
    margin: 0px 30px;
    padding: 7px;
    font-size: 16px;
    border: none;
    background-color: transparent;
} 
img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
}